---

---
<nav class="w-1/4 mx-auto mt-10 text-lg font-bold rounded-full fixed top-0 left-0 right-0 z-50">
    <ul class="flex py-2 justify-between mx-3">
        <a href="/" class="hover:bg-white hover:text-black px-5 py-2 rounded-full">Home</a>
        <a href="#" class="hover:bg-white hover:text-black px-6 py-2 rounded-full">Blog</a>
        <a href="#" class="hover:bg-white hover:text-black px-5 py-2 rounded-full">About</a>
        <a href="#" id="icon" class="my-1 p-1.5 rounded-full"><svg class="with-icon_icon__MHUeb" data-testid="geist-icon" fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" style="color:var(--geist-foreground);width:24px;height:24px"><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg></a>
    </ul>
</nav>

<style>
    #icon{
        background-color: #4B4A4A;
        border-width: 1px;
        border-color: #525252;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }
</style>