---
---


<html lang="es" class="">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>hershel</title>
  </head>
    <slot />
</html>

<style is:global>
:root {
  --background-color-light: #ffffff;
  --text-color-light: #1A1A1A;
  --background-color-dark: #1A1A1A;
  --text-color-dark: #ffffff;
  --secondary-back-dark: #363636;
  --secondary-light: #ffffff;
  --button-color: #B9B9B9;
}

nav {
  background-color: var(--secondary-light);
  color: var(--text-color-light);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#icon{
    background-color: #B9B9B9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.span {
  color: var(--text-color-light);
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  nav {
    background-color: var(--secondary-back-dark);
    color: var(--text-color-dark);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }    
  .span {
    color: var(--text-color-dark);
  }
  #icon{
        background-color: #4B4A4A;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }
}

</style>